Options +FollowSymlinks
RewriteEngine on

RewriteBase /~confacted/framework

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^.*$ - [NC,L]
RewriteRule ^(.*)$ index.php?page=$1 [L]